<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psx.server.mapper.TBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.psx.server.pojo.TBook">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="isbn" property="isbn" />
        <result column="category_id" property="category_id" />
        <result column="category_name" property="category_name" />
        <result column="author" property="author" />
        <result column="pulisher" property="pulisher" />
        <result column="price" property="price" />
        <result column="total_number" property="total_number" />
        <result column="img" property="img" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, isbn, category_id, category_name, author, pulisher, price, total_number, img, description
    </sql>

    <select id="getBookList" resultType="com.psx.server.pojo.TBook">
        select *
        from t_book
    </select>

    <select id="getBookListByType" resultType="com.psx.server.pojo.TBook">
        select *
        from t_book
        where category_id=#{type}
    </select>

    <select id="getBookByPage" resultType="com.psx.server.pojo.TBook">
        select * from t_book
        WHERE
              id is not null
              <if test="book.name!=null and book.name!=''">
                  and `name` like CONCAT('%',#{book.name},'%')
              </if>
            <if test="book.isbn!=null and book.isbn!=''">
                and isbn like CONCAT('%',#{book.isbn},'%')
            </if>
            <if test="book.category_id!=null">
                and category_id=#{book.category_id}
            </if>
            <if test="book.category_name!=null and book.category_name!=''">
                and category_name like CONCAT('%',#{book.category_name},'%')
            </if>
            <if test="book.author!=null and book.author!=''">
                and author like CONCAT('%',#{book.author},'%')
            </if>
            <if test="book.pulisher!=null and  book.pulisher!=''">
                and pulisher like CONCAT('%',#{book.pulisher,'%')
            </if>
            ORDER BY id
    </select>

    <select id="exportBook" resultType="com.psx.server.pojo.TBook">
        select * from t_book
        <if test="id!=null">
            WHERE
            t_book.id=#{id}
        </if>
        ORDER BY t_book.id
    </select>
</mapper>
