<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psx.mapper.TBorrowhistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.psx.pojo.TBorrowhistory">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="bookid" property="bookid" />
        <result column="borrowdate" property="borrowdate" />
        <result column="returndate" property="returndate" />
        <result column="isexpire" property="isexpire" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, bookid, borrowdate, returndate, isexpire
    </sql>

</mapper>
